
:root {
    --ptimary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color: #2196F3;
    --hover-accent-color: #188CE8;
    --background-header-color: #FFFFFF; 
    --logo-color: #000000; 
    --background-hero-color: #2F303A; 
    --hero-color: #FFFFFF;
    --background-features-color:#F5F5F5;
    --background-team-color:#F5F4FA;
    --icon-color:#AFB1B8;
    --header-border:#ECECEC;
    --transition-func:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}    
    h1, h2, h3, p {
        margin-top: 0;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    width: 100%;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
body {
    color:var(--ptimary-text-color);
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto 0 auto; 
}
.container-portfolio {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px 0 15px;
}  
.mobile-menu_container{
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 480px){
    .container {
        width: 480px;  
        margin: 0 auto 0 auto; 
    }
}
@media screen and (min-width: 768px){
    .container {
        width: 768px;  
        margin: 0 auto 0 auto; 
    }
}
@media screen and (min-width: 1200px){
    .container {
        width: 1200px;  
        margin: 0 auto 0 auto; 
    }
}

    /*=================== M O B I L E ==================*/
.logo {
    display: flex;
    padding: 16px 0;
}
.logo-w, .logo-st {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.383;
    letter-spacing: 0.03em;
    text-decoration: none;  
} 
.logo-w {
    color: var(--accent-color);   
}
.logo-st {
    color:var(--logo-color); 
}
.page-header {
    padding: 0;
    background-color:var(--background-header-color);
    border:1px solid var(--header-border);
}
@media screen and (max-width: 767px) {
    .site-nav-list {
        display: none;
    }
    .contact-nav-list {
        display: none;
    }  
   /*============mobile-menu==========*/
    .mobile-menu-open {
        background-color: transparent;
        border: none;
        padding-right: 15px;
        width: 40px;
        height: 40px;
    }
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--hero-color);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--transition-func), 
        visibility var(--transition-func);
    }  

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile-menu_close{
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
    }
    .mobile-nav_link{
        text-decoration: none;
        color:var(--title-text-color);
    }
    .mobile-nav_link:hover, .mobile-nav_link:focus {
        color: var(--accent-color);
    }
    .mobile-nav_item{
        position: relative;
        display: block;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.172;
        letter-spacing: 0.02em;
        transition: var(--transition-func);    
     }
    .mobile-tel-link {
        text-decoration: none;
        display: block;
        margin-top: 270px;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    .mobile-mail-link {
        display: block;
        text-decoration: none;
        padding-bottom: 64px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: var(--ptimary-text-color);
    }
   
    .mobile-social {
        display: flex;
        margin: 0;
        flex-grow: 1;
        flex-wrap: wrap;
        gap: 20px;
      
    }
    .mobile-social-link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
}
    /*============mobile-menu==========*/ 

    /*===============hero=============*/ 

    .hero {
        padding: 118px 0;
        background-color: var(--background-hero-color);
        color: var(--hero-color);
        text-transform: uppercase;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/mobil-Header-img.jpg");
    }
    @media screen and (min-device-pixel-ratio: 2) and (max-width:767px), 
    screen and (min-resolution: 192dpi) and (max-width:767px), 
    screen and (min-resolution: 2dppx) and (max-width:767px)  {
        .hero {
            background-image:
            url("../images/mobil-Header-img@2x.jpg");  
        }
    }
  
    .title {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        letter-spacing: 0.06em;
    }
    @media screen and (min-width: 480px){
        .title{
            width: 360px;
        }
    }
    .button {
        margin-top: 40px;
        border: 2px solid transparent;
        background-color: var(--accent-color);
        color: var(--hero-color);
        cursor: pointer;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        border-radius: 4px;
        padding: 10px 24px;
        min-width: 200px;
        height: 50px;
    }
    .button:hover, .button:focus {
        background-color: var(--hover-accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
        transition: color var(--transition-func);    
    }
       /*==================hero===============*/ 

       /*============section-features==========*/
    .section-features {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 0;
    }
    .features-title {
      
        color: var(--title-text-color);
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }
    .features-list {
        list-style: none; 
        width: 100%;
        max-width: 450px;
        border-radius: 4px;
    }
    
    .features-list::before {
        display: block;
        content: "";
        height: 120px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-color:var(--background-team-color);
    }
    .icon-attention::before {
        background-image: url(../images/antenna.svg);  
    }
    .icon-punctuality::before {
        background-image: url(../images/clock.svg);  
    }
    .icon-planning::before {
        background-image: url(../images/diagram.svg);  
    }
    .icon-technology::before {
        background-image: url(../images/astronaut.svg);   
    }
    .features-paragraph {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
     }   
    /*============section-features==========*/

   /*==============section-team=========*/
    .section-team {
        margin: 0;
        padding: 60px 0;
        margin: 0 auto 0 auto;
        background-color: var(--background-team-color);
     }
    .section-title {
        margin-bottom: 30px;
        color: var(--title-text-color);
        text-align: center;
        font-size: 28px;
        line-height: 1.172;
        letter-spacing: 0.03em;
    }
    .img-team {
        width: 100%;
        background-color: var(--hero-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
     }
    .name-title {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 0;
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }
    .name-paragraph {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }
    .social {
        display: flex;
        justify-content: center;
        padding: 16px 32px 30px 32px;
        gap: 10px;
        margin: 0;
        list-style: none;
    }
    .social-icon .footer-social-icon {
        fill: currentColor;
    }
    .social-link:hover, .social-link:focus,
    .footer-social-link:hover, .footer-social-link:focus {
        fill: var(--hero-color);
        background-color: var(--accent-color);
    }
    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: var(--background-header-color);
        fill: var(--icon-color);
        border-radius: 50%;
        transition-property: fill, background-color;
        transition: var(--transition-func);
    }
    /*==============section-team=========*/

    /*==============section-client=========*/
    
    .section-client {
        padding: 60px 0;
    }
    .client-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    .client-link {
        display: flex;
        flex-basis: calc((100% - 30px) / 2);
        padding: 16px 52px;
        width: 210px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill:var(--icon-color) ;
        transition-property: fill;
        transition: var(--transition-func);
    }
    .client-link:hover, .client-link:focus {
        fill:var(--accent-color);
        border-color: var(--accent-color);
    }
    .client-icon {
        width: 106px; 
        height: 60px; 
     }
    /*==============section-client=========*/

     /*================footer=============*/ 
    .footer {
        background-color: var(--background-hero-color);
        padding: 60px 0;
    }
    .footer-container {

        width: 480px;
               
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 0;
    }
    
    .logo-footer {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        line-height: 1.174;
        letter-spacing: 0.03em;
        text-decoration: none;
        color:var(--hero-color);
        }
    .footer-site-nav-list {
        display: block;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        padding-top: 20px;
        margin: 0;

        
    }
    .footer-title {
        display: inline-block;
        padding-top: 60px;
        padding-bottom: 20px;
        margin: 0 auto 0 auto;
        color: var(--background-header-color);
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }
    .footer-social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        fill: var(--background-header-color);
        border-radius: 50%;
        padding: 0;
        transition-property: fill, background-color;
        transition: var(--transition-func);
    }
    .footer-social {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    .contact {
        font-style: normal;
        text-decoration: none;
        color:rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .footer-contact {
        margin-top: 8px;
    }
    .contact-address {
        font-style: normal;
        text-decoration: none;
        color:var(--hero-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .footer-shell {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .footer-form-input{
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        border-radius: 4px;
        color: var(--hero-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        transition: border-color var(--transition-func);
        background-color: var(--background-hero-color);
    }
    .footer-form-input:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    .footer-form-submit {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 10px;
        width: 200px;
        height: 50px;
        color: var(--hero-color);
        background-color:var(--accent-color);
        border: var(--accent-color);
        border-radius: 4px;
        cursor: pointer;
    }
    .footer-form-submit:hover, .footer-form-submit:focus {
        background-color:var(--hover-accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: color var(--transition-func);
    }

    /*================footer=============*/

   /*==============modal-form===============*/
    @media screen and (min-width: 320px){

        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 1;
            overflow: scroll;
            transition-property: visibility opacity;
            transition: var(--transition-func);
        }
        .modal-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            position: absolute;
            cursor: pointer;
            top: 8px;
            right: 8px;
            padding: 0;
            border:  1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            background-color: var(--hero-color);
         }
         .modal-button:hover, .modal-button:focus {
           fill: var(--accent-color);
           transition: fill var(--transition-func);
         }
        .icon-close {
           color: var(--logo-color);
        }
        .modal {
            width: 100%;
            max-width: 450px;
            height: 100%;
            max-height: 609px;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 40px;
            transform: translate(-50%, -50%) scale(100%) ;
            background-color: var(--hero-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition-property: transform opaciti ;
            transition-duration: 1000ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
           
        }
        .backdrop.is-hidden .modal {
            transform: translate(-50%, -50%) scale(0%);
        
        }
        .backdrop.is-hidden {
            visibility: hidden;
            opacity: 1;
            pointer-events: none;
            transition: opaciti;
        }
        .modal-form {
            flex-direction: column;
        }
        .feedback-form {
            text-align: center;
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.03em;
            color:var(--title-text-color);
        }
        .modal-form-field {
            margin-bottom: 10px;
        }
        .modal-form-desc {
            display: block;
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 1.167;
            letter-spacing: 0.01em;
            color: var(--ptimary-text-color)
        
        }
        .modal-form-input {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding-left: 42px;
            transition: border-color var(--transition-func);
        }
        .modal-form-input:focus {
            outline: none;
            border-color: var(--accent-color);
        }
        .modal-form-input:focus + .form-field-icon {
            fill: var(--accent-color);
        }
        .modal-form-wrapper {
            display: block;
            position: relative;
        }
        .form-field-icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            transition: fill var(--transition-func);
        }
        .modal-form-message {
            display: block;
            resize: none;
            width: 100%;
            height: 120px;
            padding: 12px 16px;
            transition: border-color var(--transition-func);
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
        }
        .modal-form-message::placeholder{
            font-size: 12px;
            line-height: 1.167;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
        
        .modal-form-message:focus {
            outline: none;
            border-color: var(--accent-color);
        }
        .modal-form-check-desc::before{
            display: block;
            content: "";
            margin-right: 8px;
            width: 16px;
            height: 15px;
            border: 1px solid var(--title-text-color);
            cursor: pointer;
            border-radius: 2px;
        }
        
        .modal-form-check:checked + .modal-form-check-desc::before {
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-origin: border-box;
        border-color: transparent;
        transition: transform var(--transition-func);
        }
        .modal-form-check:focus + .modal-form-check-desc::before {
        outline: var(--accent-color);
        }
        .modal-form-check-desc {
            display:flex;
            align-items: center;
            font-size: 12px;
            line-height: 1.167;
            letter-spacing: 0.03em;
            color: var(--ptimary-text-color);  
            margin:20px 0 30px 0;
        }
        .modal-form-submit {
            display: block;
            padding: 10px 52px;
            margin: 0 auto;
            width: 200px;
            height: 50px;
            color: var(--hero-color);
            background: var(--accent-color);
            border: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            cursor: pointer;
        }
        .modal-form-submit:hover, .modal-form-submit:focus {
            background-color: var(--hover-accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: color var(--transition-func);
        }
        .link-form{
            color: var(--accent-color);
        }

   }
   /*==============modal-form===============*/

/*===================== M O B I L E =====================*/

/*====================== T A B L E T ====================*/
@media screen and (max-width: 1199px){
    .section-features-title {
    display: none;
    }
}
@media screen and (min-width: 768px){
    .mobile-menu {
        display: none;
    }
    .mobile-menu-open {
        display: none;
    }  

    .site-nav-list{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        gap: 50px;
        padding: 0;
        margin:0 0 0 88px;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-link, .list, .link, .link-mail, .link-tel, 
    .button-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        transition-property:color;
        transition: var(--transition-func);
    }
    .header-link, .link, .link-mail, .link-tel {
 
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
    .contact-nav-list {
        list-style: none;   
    }

    .site-nav-list .header-link:hover, .link:hover,
    .site-nav-list .header-link:hover, .link:focus {
        color: var(--accent-color); 
    }
    .contact-nav-list .link-mail:hover,
    .link-tel:hover,
    .contact-nav-list .link-mail:focus,
    .link-tel:focus{
        color: var(--accent-color); 
    }
    .header-link.current {
        position: relative;
        color: var(--accent-color);
    }
    .header-link.current:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--accent-color);
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        opacity: 1;
        transition-property: opacity;
        transition: var(--transition-func);
    }
    .page-header {
        padding: 0;
        background-color:var(--background-header-color);
        border:1px solid var(--header-border);
    }
    .header-link {
        padding: 32px 0;
        color: var(--title-text-color) ;
    }
      
    .contact-nav-list .link {
        color: var(--ptimary-text-color) ;
    }
    .icon {
        fill: currentColor;
        margin-right: 10px;
    }
    .hero {
        max-width: 768px;
        height: 400px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/tabl-Header-img.jpg");
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width:768px), 
    screen and (min-resolution: 192dpi) and (min-width:768px),
    screen and (min-resolution: 2dppx) and (min-width:768px) {
        .hero {
            background-image:
            url("../images/tabl-Header-img@2x.jpg");  
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .features-list {
        width: 354px;
        flex-basis: calc((100% - 30px)/2);
    }
    .features-title {
        text-align: start;
    }
    .img-team {
        width: 354px;
        height: 536px;
        flex-basis: calc((100% - 30px)/2);  
    }
    .client-link {
        flex-basis: calc((100% - 60px) /3);
        padding: 16px 60px;
        width: 210px;
        height: 92px;
    }   
   
    .info {
        min-width: 232px;
        margin-right: 165px;
    }
    .footer-container{
        width: 768px;
    }
    .footer-title {
        padding-top: 0;
        padding-left: 45px;
    }
    
    .footer-additional-box {
        display: flex;
        align-items: baseline;
        margin-left: 76px;
    }
    .footer-shell {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*============== T A B L E T =================*/

/*============== D E S K T O P =================*/
@media screen and (min-width: 1200px){
    .contact-nav-list {
        display: flex;
        margin-left: 315px;
        flex-grow: 1;
        gap: 30px;
    }
    .hero {
        padding: 200px 0;
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/Img.jpg");
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width:768px), 
    screen and (min-resolution: 192dpi) and (min-width:768px),
    screen and (min-resolution: 2dppx) and (min-width:768px) {
        .hero {
            background-image:
            url("../images/Img@2x.jpg");  
        }
    }
    .title {
        width: 696px;
        font-size: 44px;
        line-height: 1.363;
    }
    .features-list {
        width: 270px;
        flex-basis: auto
    }
    .section-title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.172;
        letter-spacing: 0.03em;
    }
    .features-img {
        position: relative;
    }
    .features-text {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 27px 0;
        text-align: center;
        text-transform: uppercase;
        color: var(--hero-color);
        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.172;
        letter-spacing: 0.03em;
    }  
    .section-features, .section-team, 
    .section-client
    {
        margin: 0;
        padding: 94px 0;  
    }
    .img-team {
        width: 270px;
        height: 428px;
        flex-basis: auto;
    }
    .client-link {
        padding: 16px 32px;
        width: 170px;
        height: 92px;
        flex-basis: auto;  
    }
    .modal {
        max-width: 528px;
        max-height: 581px;
    }
    .modal-form-check-desc {
        
        font-size: 14px;
        line-height: 1.714;
    }
    .footer {
        margin: 0;
    }
    .footer-container {
        width: 1200px;
        display: flex;
        align-items: baseline;
        margin: auto;
    }
    .footer-shell {
        margin: 0 0 0 93px;
    }
    .footer-additional-box {
        margin: 0;
    }
    .info {
        min-width: 236px;
        margin-right: 70px;
    }
    .logo-footer {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration: none;
        color:var(--hero-color);
        }
    .footer-site-nav-list {
        list-style: none;
        padding: 20px 0 0 0;
        margin: 0; 
    }
    .footer-title {
        padding-top: 0;
        margin-bottom: 0;
        color: var(--background-header-color);
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }
    .footer-social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        fill: var(--background-header-color);
        border-radius: 50%;
        padding: 0;
        transition-property: fill, background-color;
        transition: var(--transition-func);
    }
    .footer-social {
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 20px 0 0 0;
    }
    .contact {
        font-style: normal;
        text-decoration: none;
        color:rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .footer-contact {
        margin-top: 12px;
    }
    .contact-address {
        font-style: normal;
        text-decoration: none;
        color:var(--hero-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .footer-shell {
        margin-left: 93px;
    }
    .footer-form {
        display: flex;
        margin-top: 20px;
    }
    
    .footer-form-input{
        width: 358px;
        height: 50px;
        padding-left: 16px;
        margin-right: 12px;
        border-radius: 4px;
        color: var(--hero-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        transition: border-color var(--transition-func);
        background-color: var(--background-hero-color);
    }
    .footer-form-input:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    .footer-form-submit {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 10px;
        width: 200px;
        height: 50px;
        color: var(--hero-color);
        background-color:var(--accent-color);
        border: var(--accent-color);
        border-radius: 4px;
        cursor: pointer;
    }
    .footer-form-submit:hover, .footer-form-submit:focus {
        background-color:var(--hover-accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: color var(--transition-func);
    }

  /*--------------section-portfolio-----------------*/
.section-portfolio {
    padding: 94px 0;
}
.button-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 0;
    margin-bottom: 0;
}
.button-filter {
    margin: 0;
    padding: 6px 22px;
    min-width: 73px;
    background-color: var(--background-team-color);
    color: var(--title-text-color);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition-property: box-shadow, color, background-color;
    transition: var(--transition-func);
}
.button-filter:hover, .button-filter:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--hero-color);
}
.list-works {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100%-60px)/3);
    gap: 30px;
    padding: 0;
    margin: 50px 0 0 0;
}
.works:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works {
    background:var(--hero-color);  
    border: 1px solid #EEEEEE;
    list-style: none;
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow; 
    transition: var(--transition-func);
    
}
.works-img {
    position: relative; 
    overflow: hidden;
}
.works:hover .works-overlay{
    transform: translateY(0);
}
.works-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    transition: transform; 
    transition: var(--transition-func);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: var(--hero-color);
    background-color:rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
}

.works-title {
    padding: 20px 24px;
}
.portfolio-title {
    margin: 0;
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
.portfolio-paragraph {
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--ptimary-text-color);
    font-size: 16px;
    line-height: 1.88; 
    letter-spacing: 0.03em;
}
}
 /*--------------section-portfolio-----------------*/

/*============== D E S K T O P =================*/



/*.logo {
    display: flex;
    margin-right: 93px;
}    
.logo-w {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color); 
    
    }
.logo-st {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color:var(--logo-color);
   
    }
.header-link, .list, .link, .link-mail, .link-tel, .site-nav-list,
.contact-nav-list, .button-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    transition-property:color;
    transition: var(--transition-func);
    }
.header-link, .link, .link-mail, .link-tel {
 
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    }
.site-nav-list .header-link:hover, .link:hover,
.site-nav-list .header-link:hover, .link:focus {
    color: var(--accent-color); 
   
    }
.contact-nav-list .link-mail:hover,
.link-tel:hover,
.contact-nav-list .link-mail:focus,
.link-tel:focus{
    color: var(--accent-color); 
}
.header-link.current {
    position: relative;
    color: var(--accent-color);
  }
.header-link.current:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 1;
    transition-property: opacity;
    transition: var(--transition-func);
}
.list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.site-nav-list {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 50px;
}
.contact-nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 50px; 
}
.list-works {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100%-60px)/3);
    gap: 30px;
    padding: 0;
    margin: 50px 0 0 0;
    }
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.page-header {
    padding: 0;
    background-color:var(--background-header-color);
    border:1px solid var(--header-border);
    }
/*--------------site nav--------------*/
/*.header-link {
    padding: 32px 0;
    color: var(--title-text-color) ;
    }
.site-nav-list .contact-nav-list {
    display: flex;
    flex-grow: 1;
    }    
.contact-nav-list .link {
    color: var(--ptimary-text-color) ;
    }
.icon {
    fill: currentColor;
    margin-right: 10px;
}
/*-----------hero-------------*/
/*.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px 0 15px;
}
.container-portfolio {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px 0 15px;
}  

.hero {
    padding: 200px 0;
    background-color: var(--background-hero-color);
    color: var(--hero-color);
    text-transform: uppercase;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Img.jpg");
    }
.title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    }
.features-img {
    position: relative;
}
.features-text {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--hero-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
}  
.button {
    margin-top: 40px;
    border: 2px solid transparent;
    background-color: var(--accent-color);
    color: var(--hero-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    }
.button:hover, .button:focus {
    background-color: var(--hover-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    transition: color var(--transition-func);
}
.button-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 0;
    margin-bottom: 0;
    }
.button-filter {
    
    margin: 0;
    padding: 6px 22px;
    min-width: 73px;
    background-color: var(--background-team-color);
    color: var(--title-text-color);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    letter-spacing: 0.03em; 
    transition-property: box-shadow, color, background-color;
    transition: var(--transition-func);

}   
.button-filter:hover, .button-filter:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--hero-color);
}
.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.06em;
   
    }
.section-features {
    margin: 0;
    padding: 94px 0;
  
    }
.section-features-title{
    margin: 0;
    padding: 0 0 94px 0;
   
}   
.features-title {
    margin-bottom: 0;
    color: var(--title-text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    }
.features-list {
    width: 270px;
}

.features-list::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:var(--background-team-color);
}
.icon-attention::before {
    background-image: url(../images/antenna.svg);  
}
.icon-punctuality::before {
    background-image: url(../images/clock.svg);  
}
.icon-planning::before {
    background-image: url(../images/diagram.svg);  
}
.icon-technology::before {
    background-image: url(../images/astronaut.svg);   
}
.features-paragraph {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
 }
.section-team {
    margin: 0;
    padding: 94px 0;
    background-color: var(--background-team-color);
 }
 .section-client {
    margin: 0;
    padding: 94px 0;
       
 }
 .img-team {
    background-color: var(--hero-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 }
.name-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    }
.name-paragraph {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    }
.social {
    display: flex;
    padding: 16px 32px 30px 32px;
    gap: 10px;
    margin: 0;
    list-style: none;
}
.footer-social {
    list-style: none;
    display: flex; 
}
.social-icon .footer-social-icon {
    fill: currentColor;
}
.social-link:hover, .social-link:focus,
.footer-social-link:hover, .footer-social-link:focus {
    fill: var(--hero-color);
    background-color: var(--accent-color);
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--background-header-color);
    fill: var(--icon-color);
    border-radius: 50%;
    transition-property: fill, background-color;
    transition: var(--transition-func);
}
.client-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}
.client-link {
    display: inline-block;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill:var(--icon-color) ;
    transition-property: fill;
    transition: var(--transition-func);
}
.client-link:hover, .client-link:focus {
    fill:var(--accent-color);
    border-color: var(--accent-color);
}
.client-icon {
    width: 106px; 
    height: 60px; 
 }
/*---------portfolio--------*/  
/*.section-portfolio {
    padding: 94px 0;
}
.works:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works {
    background:var(--hero-color);  
    border: 1px solid #EEEEEE;
    list-style: none;
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow; 
    transition: var(--transition-func);
    
}
.works-img {
    position: relative; 
    overflow: hidden;
}
.works:hover .works-overlay{
    transform: translateY(0);
}
.works-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    transition: transform; 
    transition: var(--transition-func);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: var(--hero-color);
    background-color:rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
}

.works-title {
    padding: 20px 24px;
}
.portfolio-title {
    margin: 0;
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
.portfolio-paragraph {
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--ptimary-text-color);
    font-size: 16px;
    line-height: 1.88; 
    letter-spacing: 0.03em;
}

/*---------footer-----------*/
/*.footer {
    background-color: var(--background-hero-color);
    padding: 60px 0;
}
.footer-container {
    width: 1200px;
    display: flex;
    align-items: baseline;
    margin: auto;
}
.info {
    min-width: 236px;
    margin-right: 70px;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color:var(--hero-color);
    }
.footer-site-nav-list {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0; 
}
.footer-title {
    padding-top: 0;
    margin-bottom: 0;
    color: var(--background-header-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    }
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--background-header-color);
    border-radius: 50%;
    padding: 0;
    transition-property: fill, background-color;
    transition: var(--transition-func);
}
.footer-social {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 20px 0 0 0;
}
.contact {
    font-style: normal;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-contact {
    margin-top: 12px;
}
.contact-address {
    font-style: normal;
    text-decoration: none;
    color:var(--hero-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-shell {
    margin-left: 93px;
}
.footer-form {
    display: flex;
    margin-top: 20px;
}

.footer-form-input{
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    border-radius: 4px;
    color: var(--hero-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color var(--transition-func);
    background-color: var(--background-hero-color);
}
.footer-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}
.footer-form-submit {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    color: var(--hero-color);
    background-color:var(--accent-color);
    border: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}
.footer-form-submit:hover, .footer-form-submit:focus {
    background-color:var(--hover-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color var(--transition-func);
}

.visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
  /*-------modal--------*/
/*.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: visibility opacity;
    transition: var(--transition-func);
}
.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    padding: 0;
    border:  1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--hero-color);
 }
 .modal-button:hover, .modal-button:focus {
   fill: var(--accent-color);
   transition: fill var(--transition-func);
 }
.icon-close {
   color: var(--logo-color);
}
.modal {
    width: 100%;
    max-width: 528px;
    height: 100%;
    max-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(100%) ;
    background-color: var(--hero-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-property: transform opaciti ;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0%);

}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 1;
    pointer-events: none;
    transition: opaciti;
}
.modal-form {
    flex-direction: column;
}
.feedback-form {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-desc {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--ptimary-text-color)

}
.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-func);
}
.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}
.modal-form-input:focus + .form-field-icon {
    fill: var(--accent-color);
}
.modal-form-wrapper {
    display: block;
    position: relative;
}
.form-field-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-func);
}
.modal-form-message {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    transition: border-color var(--transition-func);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal-form-message::placeholder{
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}
.modal-form-check-desc::before{
    display: block;
    content: "";
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 1px solid var(--title-text-color);
    cursor: pointer;
    border-radius: 2px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
background-image: url(../images/icon-check.svg);
background-size: contain;
background-origin: border-box;
border-color: transparent;
transition: transform var(--transition-func);
}
.modal-form-check:focus + .modal-form-check-desc::before {
outline: var(--accent-color);
}
.modal-form-check-desc {
    display:flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--ptimary-text-color);  
    margin:20px 0 30px 0;
}
.modal-form-submit {
    display: block;
    padding: 10px 52px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    color: var(--hero-color);
    background: var(--accent-color);
    border: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.modal-form-submit:hover, .modal-form-submit:focus {
    background-color: var(--hover-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color var(--transition-func);
}
.link-form{
    color: var(--accent-color);
}
*/